body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
}

.navbar {
    display: flex;
    padding: 15px 30px;
    width: 100%;
}

.container-fluid {
    width: 100%;
    margin: 0px;
}

.currency-bitcoin {
    display: flex;
}

.currency-bitcoin img {
    margin: auto;
}

.currency {
    display: flex;
    margin-right: 600px;
}

.child-currency {
    margin: 0px 10px;
}

.child-currency .currency-bitcoin p {
    margin: auto;
}

.menu ul li {
    display: inline-block;
    margin: 0px 12.5px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li a {
    color: #626262;
    text-decoration: none;
}

.nav-link-settlement-price {
    border: 10px;
    border-color: #216EFB;
    border-radius: 10;
}

.nav-item .nav-icon {
    border-style: solid;
    border-color: #626262;
    border-right: 10px;
}

.bottom-content {
    display: flex;
}

.menu-left-link {
    background-color: #F2F2F2;
    width: 25%;
    height: 100vh;
    padding-right: 30px;
    padding-top: 20px;
}

.menu-left-link ul {
    list-style-type: none;
}

.menu-left-link ul li {
    background-color: white;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 6px;
}

.menu-left-link ul li a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 15px;
}

.menu-left-link ul li img {
    float: right;
}

.content-center {
    padding: 43px 28px 50px 77px;
    height: 100%;
    width: 80%;
    overflow: hidden;
}

.content-center div {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    float: left;
}

.account-status {
    background-color: #216EFB;
    border-radius: 6px;
    padding: 19px 21px;
    color: white;
    font-size: 15px;
}

.account-status-right {
    width: 50%;
}

.account-status-left {
    width: 50%;
}

.login-status {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.login-status div h1 {
    border-bottom: 5px;
    border-style: solid;
    border-color: #d5d5d5;
}